@function pi() {
	@return 3.14159265359;
}

@function pow($number, $exp) {
	$value: 1;
	@if $exp > 0 {
		@for $i from 1 through $exp {
			$value: $value * $number;
		}
	}
	@else if $exp < 0 {
		@for $i from 1 through -$exp {
			$value: calc($value / $number);
		}
	}
	@return $value;
}

@function fact($number) {
	$value: 1;
	@if $number > 0 {
		@for $i from 1 through $number {
			$value: $value * $i;
		}
	}
	@return $value;
}

@function sqrt($number) {
  $sqrt: $number / 2;
  @for $i from 1 through 6 {
    $sqrt: ($sqrt + $number / $sqrt) / 2;
  }
  @return $sqrt;
}

@function rad($angle) {
	$unit: unit($angle);
	$unitless: calc($angle / ($angle * 0 + 1deg));
	@if $unit == deg {
		$unitless: calc($unitless / 180) * pi();
	}
	@return $unitless;
}

@function sin($angle) {
	$sin: 0;
	$angle: rad($angle);
	@for $i from 0 through 10 {
		$sin: $sin + pow(-1, $i) * calc(pow($angle, (2 * $i + 1)) / fact(2 * $i + 1));
	}
	@return $sin;
}

@function cos($angle) {
	$cos: 0;
	$angle: rad($angle);
	@for $i from 0 through 10 {
		$cos: $cos + pow(-1, $i) * calc(pow($angle, 2 * $i) / fact(2 * $i));
	}
	@return $cos;
}

@function tan($angle) {
	@return calc(sin($angle) / cos($angle));
}
