@import "variables.scss";

body {
  min-height: 100vh;
  color: #333333;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  /*
  background: url("/mcbg.svg");
  background-repeat: repeat;
  background-size: 600px;
   */
}
.mcase-face {
  font-family: 'Shrikhand', cursive;
}

#app {
  font-weight: normal;

}

a {
  text-decoration: none;
  color: $color-action;
  &.action {
    color: $color-action;
  }
}

$class-keys: c_marathon, c_50k, c_50mi, c_100k, c_100kplus, c_100mi, c_xtreme, c_training;
$class-colors: $color-c_marathon, $color-c_50k, $color-c_50mi, $color-c_100k, $color-c_100kplus, $color-c_100mi, $color-c_xtreme, $color-c_training;

@for $i from 1 through length($class-keys) {
  .#{nth($class-keys, $i)} {
    color: #{nth($class-colors, $i)};
  }
  .#{nth($class-keys, $i)}_border {
    border-color: #{nth($class-colors, $i)};
  }
}
.add-spin {
  animation-name: spin;
  animation-duration: 11000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}


