$color-c_marathon: #334EAF;
$color-c_50k: #3390B1;
$color-c_50mi: #33B185;
$color-c_100k: #72B133;
$color-c_100kplus: #72B133;
$color-c_100mi: #D0AB37;
$color-c_xtreme: #C94D41;

$color-action: #FD4B01;

$color-c_training: #444444;

body {
  min-height: 100vh;
  color: #333333;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

#app {
  font-weight: normal;
}

a {
  text-decoration: none;
  &.action {
    color: $color-action;
  }
}

$class-keys: c_marathon, c_50k, c_50mi, c_100k, c_100kplus, c_100mi, c_xtreme, c_training;
$class-colors: $color-c_marathon, $color-c_50k, $color-c_50mi, $color-c_100k, $color-c_100kplus, $color-c_100mi, $color-c_xtreme, $color-c_training;

@for $i from 1 through length($class-keys) {
  .#{nth($class-keys, $i)} {
    color: #{nth($class-colors, $i)};
  }
  .#{nth($class-keys, $i)}_border {
    border-color: #{nth($class-colors, $i)};
  }
}


