$color-c_marathon: #334EAF; /* rgba(51, 78, 175, 1) */
$color-c_50k: #3390B1; /* rgba(51, 144, 177, 1) */
$color-c_50mi: #33B185; /* rgba(51, 177, 133, 1) */
$color-c_100k: #72B133; /* rgba(114, 177, 51, 1) */
$color-c_100kplus: #ABB431; /* rgba(171, 180, 49, 1) */
$color-c_100mi: #DB8D26; /* rgba(219, 141, 38, 1) */
$color-c_xtreme: #C94D41; /* rgba(201, 77, 65, 1) */

$color-action: #FC4C02; /* rgba(252, 76, 2, 1) */

$color-c_training: #444444;

$page-width: 920px;
