$color-c_marathon: #334EAF;
$color-c_50k: #3390B1;
$color-c_50mi: #33B185;
$color-c_100k: #72B133;
$color-c_100kplus: #72B133;
$color-c_100mi: #D0AB37;
$color-c_xtreme: #C94D41;

$color-action: #FD4B01;

$color-c_training: #444444;

$page-width: 920px;
